<!DOCTYPE html>
<html>
<head>
	<title>Hadassah Consulting</title>
	<link rel="icon" type="image/png" sizes="32x32" href="/public/images/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/public/images/favicon-16x16.png">
	<link rel='stylesheet' href='/public/stylesheets/fontawesome.min.css' />
	<link rel='stylesheet' href='/public/stylesheets/bootstrap/bootstrap.css' />
	<link rel='stylesheet' href='/public/stylesheets/bootstrap/bootstrap-datepicker.min.css' />

	<link rel='stylesheet' href='/public/stylesheets/datatables.min.css' />
	<link rel='stylesheet' href='/public/stylesheets/utils.css' />
	<link rel='stylesheet' href='/public/stylesheets/style.css' />
	<script src="/public/javascripts/moment.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/locale/pt-br.js"></script>
	<script src="/public/javascripts/jquery.min.js"></script>
	<script src="/public/javascripts/jquery.mask.js"></script>
	<script src="/public/javascripts/popper.min.js"></script>
	<script src="/public/javascripts/bootstrap/bootstrap.min.js"></script>
	<script src="/public/javascripts/bootstrap/bootstrap-datepicker.min.js"></script>
	<script src="/public/locales/bootstrap-datepicker.pt-BR.min.js"></script>

	<script src="/public/javascripts/fullcalendar.min.js"></script>
	<script src="/public/javascripts/datatables.min.js"></script>
	<script src="/public/javascripts/main.js"></script>
	<meta name="viewport" content="width=device-width, user-scalable=no">
</head>
<body>
	<input type="hidden" value="<%= usuario.id %>" name="id_usuario_sessao">
	<input type="hidden" value="<%= usuario.hash_login %>" name="hash_usuario_sessao">
	<input type="hidden" value="<%= usuario.nivel %>" name="nivel_usuario_sessao">
	<div class="error_ajax none">Você parece ter se disconectado, tentando reconectar...</div>
	<!-- Modal Structure -->
	<div id="modaldeletar" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-body text-center">
					<b><p id="texto">Remover</p></b>
				</div>
				<div class="modal-footer">
					<div class="row">
						<div class="col col-sm-6">
							<button type="button" class="btn grey white-text" data-dismiss="modal">Cancelar</button>
						</div>
						<div class="col col-sm-6">
							<form method="POST" action="">
								<input id="id" type="hidden" name="id">
								<input type="hidden" name="deletado" value="1">
								<button style="width: 100%; text-align: center;" class="btn red white-text ajax-submit delete_button"
								data-href=""
								data-action="" data-dismiss="modal" data-mensagem-sucesso="" data-mensagem-sucesso-color="bg-danger"
								>Excluir</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal Structure -->
	<div id="modalinfo" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content"></div>
		</div>
	</div>
	<div class="loader none">
		<i class="fas fa-spinner fa-pulse fa-5x fa-fw"></i>
		<!-- <span class="sr-only">Loading...</span> -->
	</div>

	<header class="white-text">
		<div class="header-logo w100">
			<a class="ajax-load" href="/sistema">
				<img src="/public/images/logo.png">
			</a>
			<a class="logout block float-right" href="/logout" onclick="return confirm('Você deseja sair?');">
				<div>Sair</div>
			</a>

			<div class="toast" role="alert" aria-live="assertive" aria-atomic="true" style="position: fixed; top: 70px; right: 10px;">
				<div class="toast-body">
					Texto
				</div>
			</div>
		</div>
		<%if(usuario.nivel == 1 || usuario.nivel == 2){ %>
		<nav class="w100 header-menu">
			<%- include('menu_header'); %>
		</nav>

		<%}%>
	</header>

