		 <nav class="nav">
		 	<a class="nav-link ajax-load uppercase black-text bold f25" href="/sistema/">Início</a>
		 	<a class="nav-link ajax-load uppercase black-text bold f25" href="/sistema/administracao/">Administração</a>
		 </nav>