<%
if (typeof data.lista != 'undefined' && data.lista.length > 0) {
	for (var i = 0; i < data.lista.length; i++) { %>

	<div class="form-group col-md-12 pai">
		<div class="row">
			<label class="grey-text col-sm-1">Observações</label>
			<div class="col-sm-9">
				<input class="form-control" type="text" name="lista_editar[observacao][]"  value="<%= data.lista[i].observacao %>">
			</div>
			<input type="hidden" name="lista_editar[id][]"  value="<%= data.lista[i].id %>">
			<div class="col-sm-2 text-left">
				<a class="f25 remove_lista" data-id="<%= data.lista[i].id %>"><i class="fa fa-times red-text" aria-hidden="true"></i></a>
			</div>

		</div>
	</div>

	<%}
}%>

<div class="form-group col-md-12 pai">
	<div class="row">
		<label class="grey-text col-sm-1">Observações</label>
		<div class="col-sm-9">
			<input class="form-control" type="text" name="lista[observacao][]">
		</div>
		<div class="col-sm-2 text-left">
			<a class="f25 remove"><i class="fa fa-times red-text" aria-hidden="true"></i></a>
		</div>

	</div>
</div>
