<!DOCTYPE html>
<html>
<head>
	<title>Hadassah Consulting System</title>
	<link rel="icon" type="image/png" sizes="32x32" href="/public/images/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/public/images/favicon-16x16.png">
	<link rel='stylesheet' href="/public/stylesheets/login.css"/>
	<link rel='stylesheet' href='/public/stylesheets/fontawesome.min.css' />
	<script src="/public/javascripts/jquery.min.js"></script>
	<meta name="viewport" content="width=device-width, user-scalable=no">
</head>

<body class="row">
	<main>
		<section>
			<div class="login">
				<form method="POST" action="/">
					<div class="icon-box">
						<img src="/public/images/logo.png">
						<div class="primary_line w80 margin-t-20"></div>
					</div>

					<div class="box">
						<%
						if (typeof erro != 'undefined' && typeof tipo_erro != 'undefined' && tipo_erro == '404') {
							%>
							<div class="card-panel red darken-1 center-align" style="margin-bottom: 25px;">
								<span class="white-text">Usuário ou senha incorreto(s), tente novamente.</span>
							</div>
							<%
						} else if (typeof erro != 'undefined' && typeof tipo_erro != 'undefined' && tipo_erro == 'login') {
							%>
							<div class="card-panel red darken-1 center-align" style="margin-bottom: 25px;">
								<span class="white-text">Usuário ou senha incorreto(s), tente novamente.</span>
							</div>
							<%
						}
						%>
						<div class="input-field center-align primary-text">
							<div class="relative label_form">
								<label class="uppercase">E-mail</label> 
								<div class="primary_line_v"></div>
							</div>					
							<input type="text" name="email" id="login" class="validate" autocomplete="off" placeholder="E-MAIL">
							
						</div>
						<div class="input-field center-align margin-t-20 primary-text">	
							<div class="relative label_form">
								<label class="uppercase">Senha</label>
								<div class="primary_line_v"></div>
							</div>
							<input type="password" name="senha" id="senha" class="validate" autocomplete="off" placeholder="SENHA">
						</div>

						<div class="center-align margin-t-20">
							<button class="primary btn white-text">
								ENTRAR
							</button>
						</div>



					</div>
				</form>
			</div>
		</section>
	</main>
</body>
</html>
